* {
  font-family: Source Sans Pro;
}

/* Navbar */
nav * {
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

.navbar {
  padding: 10px 0 40px 0 !important;
}

.navbar-brand {
  font-size: 30px !important;
}

.hero-logo {
  max-height: 40px;
  margin-bottom: 3px !important;
}

.navbar-light .navbar-nav .nav-link {
  color: #002240 !important;
}

.nav-item {
  margin-right: 40px !important;
}

.btn-style {
  border: 1px solid #0688fa;
  border-radius: 5px;
}

.btn-primary {
  padding-left: 29px !important;
  padding-right: 29px !important;
  padding-top: 8px !important;
  padding-bottom: 8px !important;
}

.btn-primary-login {
  padding-left: 26px !important;
  padding-right: 26px !important;
}

.loginButton {
  padding-right: 13px;
}

.loginButton a button {
  background-color: white;
}

.loginButton a button span {
  color: #0688fa;
}



/* Jumbotron */

.jumbotron:nth-child(2) {
  margin-top: 30px !important;
  height: 300px;
  -webkit-border-radius: 5px !important;
  -moz-border-radius: 5px !important;
  border-radius: 5px !important;
  border: none;
  background-image: url(assets/hero-img.png);
  background-size: cover;
}

.hero-wrapper{
  padding-top: 20px !important;
}

.hero-slogan{
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
}

.hero-text{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
}


/* Our Culutre */

.culture-block{
  padding-top: 80px;
}

.block-name-wrapper{
  text-align: center;
}

.block-name{
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
}

.culture-description{
  padding-top: 27px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 38px;
  letter-spacing: 0.01em;
  font-feature-settings: 'kern' off;
  color: #537089;
}


.culture-blocks-wrapper{
  padding-top: 50px;
}

.icon-wrapper{
  width: auto;
}

.culture-block-title{
  padding-top: 18px;
  font-style: normal;
  font-weight: bold;
  font-size: 21px;
  line-height: 34px;
  color: #002240;
}

.culture-block-text{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  color: #537089;
}

.culture-footer{
  padding-top: 40px;
  padding-bottom: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 21px;
  line-height: 38px;
  text-align: center;
  color: #002240;
}

.join-button-wrapper{
  display: flex;
  justify-content: center;
}

.join-button-wrapper a button{
  background: #0688FA;
  mix-blend-mode: normal;
  border-radius: 5px;
  padding: 16px 37px 18px 37px !important;
}

.join-button-wrapper a button span{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
}

/* Timeline */

.timeline-wrapper{
  padding-top: 100px;
  padding-bottom: 30px;
}

.timeline-title{
  text-align: center;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  padding-bottom: 60px;
}

.timeline-block{
  background-color: #EFF8FF;
  border-radius: 5px;
}

.timeline-item{
  height: 140px;
  display: grid;
  grid-template-columns: 0.5fr 0.3fr 2fr;
}

.timeline-date{
  display: grid;
  justify-items: right;
  padding-top: 58px;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 34px;
  color: #0688FA;
}

.timeline-icon{
  display: grid;
  justify-content: center;
  background: linear-gradient(to left, 
  #EFF8FF 49%, #0688FA 49% 52%, #EFF8FF 52% );
}

.timeline-icon img{
  padding-top: 50px;
}

.timeline-block-text{
  padding-top: 58px;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  color: #002240;
}

.timeline-wrapper{
  padding-top: 30px;
}

.timeline-item:nth-of-type(1){
  height: 200px;
}


/* Investors */

.investors-first{
  height: auto;
  background-image: url('/saleswhale-test/assets/Vector_19.png');
  background-position: bottom;
  background-repeat: no-repeat;
}

.investors-second{
  height: auto;
  background-image: url('/saleswhale-test/assets/Mask_Group.png');
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 60px;
}

.investors-title{
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  color: #002240;
  margin-top: 70px;
}

.investor-card-first{
  height: auto;
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.investor-card-first img{
  height: 80px;
  width: 80px;
  margin-top: 35px;
}

.investors-card-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
  margin-top: 67px;
}

.investor-card-title{
  margin-top: 20px;
  margin-bottom: 12px;
  font-style: normal;
  font-weight: bold;
  font-size: 32px;
  line-height: 34px;
  text-align: center;
  color: #002240;
}

.investor-card-body {
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 32px;
  text-align: center;
  color: #002240;
}

.investor-card-body:nth-last-child(1){
  margin-bottom: 54px;
}

.investor-second-title{
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 58px;
  line-height: 62px;
  color: #002240;
  margin-bottom: 60px;
  padding-top: 110px;
}

.investors-second-wrapper{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 80px;
}



.investors-logos{
  background: #FFFFFF;
  border: 1px solid #E5E5E5;
  box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.08);
  border-radius: 5px;
}

.investors-logos{
  display: flex !important;
  justify-content: center !important;
  align-items: center;
}

.investors-logos img{
  margin: 80px 0 80px 0;
}

.jumbotron:nth-child(1){
  background-color: #329DFA;
  border-radius: 5px;
}

.above-footer-block-title{
  display: flex;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 120%;
  color: #FFFFFF;
  padding-bottom: 26px;
}


.above-footer-button-wrapper{
  display: flex;
  justify-content: center;
}

.above-footer-button:nth-of-type(1){
  margin-left: 20px;
  background: #FFFFFF;
  mix-blend-mode: normal;
  box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 5px;
}

.above-footer-button:nth-of-type(1) span{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #002240;
  margin: 11px 70px 11px 70px;
}

.above-footer-button:nth-last-child(1){
  margin-left: 20px;
  mix-blend-mode: normal;
  border: 1px solid #FFFFFF;
  box-sizing: border-box;
  border-radius: 5px;
  background: transparent;
}

.above-footer-button:nth-last-child(1) span{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 23px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  margin: 11px 70px 11px 70px;
}


/* Footer */

.grid-sales{
  grid-area: sales;
}

.grid-contact{
  grid-area: contact;
}

.grid-product{
  grid-area: product;
}

.grid-company{
  grid-area: company;
}

.footer-wrapper{
  padding-top: 60px;
  display: grid;
  grid-template-columns: 2fr 1.2fr 1fr 1fr 1fr;
  grid-template-areas:'logo sales product company contact';
  grid-gap: 20px;
  padding-bottom: 45px;
}

.footer-logo img{
  grid-area: logo;
  width: 200px;
}

.footer-block{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.footer-block ul li a{
  text-decoration: none;
  color: inherit;
}

.footer-block ul{
  padding: 0;
  list-style-type: none;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 42px;
  color: #002240;
}

.footer-block-title{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 42px;
  color: #002240;
}

.footer-block-title-contact{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 42px;
  color: #002240;
}

.contact-style li{
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 20px;
  color: #002240;
}

.second-footer{
  height: auto;
  background-image: url(/saleswhale-test/assets/footer-waves.svg);
  background-color: #F4F4F4;
  background-position: bottom;
  background-repeat: no-repeat;
}

.second-footer-content{
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 60px 30px 0 30px;
  padding-bottom: 200px;
  grid-template-areas: 'terms' 
                         'socials'; 
}

.terms-group{
  grid-area: terms;
  display: flex;
  padding-top: 12px;
}

.second-footer-socials ul{
  grid-area: socials;
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.second-footer-socials ul li{
  padding-left: 15px;
}

.second-footer-item{
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #002240;
  padding-right: 30px;
}

.copyright{
  padding-top: 20px;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 21px;
  color: #002240;
}



@media (max-width: 768px){

  .navbar-nav.navbar-center {
    position: absolute;
    left: 50%;
    transform: translatex(-50%);
  }
  .block-name-wrapper{
    text-align: left;
  }
  .timeline-block-text{
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-left: 5px;
    color: #002240;
  }
  .timeline-date{
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 24px;
    padding-top: 56px;
    margin-right: 10px;
    color: #0688FA;
   }
   .timeline-icon img{
     width: 40px;
   }
   .investors-first{
    background-size: cover;
   }
   .investors-second{
    height: auto;
    background-image: url('/saleswhale-test/assets/mobile-investors.png');
    background-repeat: no-repeat;
    background-position: top;
    margin-bottom: 60px;
    background-size: 130%;
  }
  .investors-second-wrapper{
    grid-template-columns: 1fr;
  }
  .investors-card-wrapper{
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 80px;
    margin-top: 67px;
  }
  .footer-wrapper{
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas:'logo logo'
                        'sales product'
                        'company contact';
  }
  .footer-logo{
    padding-left: 0px;
    width: 130px;
  }
  .second-footer-content{
    grid-template-columns: 1fr;
    grid-template-areas: 'socials' 
                         'terms'; 
  }
  .second-footer-socials ul{
    justify-content: center;
  }
  .terms-group{
    flex-direction: column;
    align-items: center;
    margin: 10px 0 10px 0;
  }
  .second-footer-item:nth-child(1){
    padding-right: 0px;
    padding-bottom: 13px;
  }
  .second-footer-item:nth-child(2){
    padding-right: 0px;
    padding-bottom: 15px;
  }
  .copyright{
    text-align: center;
  }
  .second-footer-socials{
    margin-bottom: 25px;
  }
  .second-footer-socials ul li{
    padding-left: 0px;
    margin-right: 25px;
  }
  .second-footer-socials ul li:nth-child(3){
    margin-right: 0px;
  }
  .second-footer-socials ul{
    margin: 0px;
    padding: 0px;
  }
}